In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls ../src

biofusion

In [3]:
import os
import sys
sys.path.insert(0, os.path.abspath('../src'))

In [4]:
from biofusion.eliminators import *

In [20]:
data1 = pd.DataFrame({"col1": [1,1,1,1], 
                      "col2": [1,3,3,1],
                      "col3": [-3,1,1,-3]})
data2 = pd.DataFrame({"col1": [10,10,10,10], 
                      "col2": [10,30,30,10],
                      "col3": [-30,10,10,-30]})

In [15]:
pd.concat([data1,data2], ignore_index=True)

   col1  col2  col3
0     1     1    -3
1     1     3     1
2     1     3     1
3     1     1    -3
4    10    10   -30
5    10    30    10
6    10    30    10
7    10    10   -30

In [16]:
pipeline = ShiftEliminator()
pipeline.ds.add(data1)
pipeline.ds.add(data2)
pipeline.result()

   col1  col2  col3
0     1     1    -3
1     1     3     1
2     1     3     1
3     1     1    -3
4    10    10   -30
5    10    30    10
6    10    30    10
7    10    10   -30

In [19]:
pipeline = ShiftEliminator()
pipeline.ds.add(data1)
pipeline.ds.add(data2)
pipeline.fuse.mean_substraction()
pipeline.result()

   col1  col2  col3
0   0.0  -1.0  -2.0
1   0.0   1.0   2.0
2   0.0   1.0   2.0
3   0.0  -1.0  -2.0
4   0.0 -10.0 -20.0
5   0.0  10.0  20.0
6   0.0  10.0  20.0
7   0.0 -10.0 -20.0

In [9]:
pipeline = ShiftEliminator()
pipeline.ds.add(data1)
pipeline.ds.add(data2)
pipeline.fuse.mean_substraction('average_mean')
pipeline.result()

   col1  col2  col3
0   0.0  -1.0  -2.0
1   0.0   1.0   2.0
2   0.0   1.0   2.0
3   0.0  -1.0  -2.0
4   0.0 -10.0 -20.0
5   0.0  10.0  20.0
6   0.0  10.0  20.0
7   0.0 -10.0 -20.0

In [11]:
pipeline.fuse.mean_series

array([[0., 0., 0.],
       [0., 0., 0.]])